<div class="well">

<h2> Academy Form</h2>

<form >
  Name:<br>
  <input type="text" ng-model="academy.name"  class="form-control" style="width: 200px;" placeholder="NAME">
  <br>
  Created Date:<br>
  <input type="text" ng-model="academy.created" class="form-control" style="width: 200px;" placeholder="MM/DD/YYYY">
  <br>
Updated Date:<br>
  <input type="text" ng-model="academy.updated" class="form-control" style="width: 200px;" placeholder="MM/DD/YYY">
  <br>
<tr>
				<td><button ng-click="saveAcademy()" class="btn btn-success">Save Academy</button></td>
			</tr>
<tr>
				<td><button ng-click="deleteAcademy()" class="btn btn-danger">Delete Academy</button></td>
			</tr>
<tr>
				<td><button ng-click="updateAcademy()" class="btn btn-warning">Update Academy</button></td>
			</tr>
</form> 
<p>newAcademy = {{academy}}</p>

<h2>Academy  Table</h2>
	<div class="clearfix"></div>
<table class="table table-strip table-hover" data-ng-init="fetchAcademy()">

  <tr>
    <th>Name</th>
    <th> Created Date</th>
    <th>Updated Date</th>
  </tr>
	<tr ng-repeat="academy in academies">
			<td>{{academy.name}}</td>
			<td>{{academy.created}}</td>
	        <td>{{academy.upStringd}}</td>
			
   </tr>
		
  </table>
  
</div>
