<div class="well">

<h2> Academy Form</h2>

<form >
  Name:<br>
  <input type="text" ng-model="academy.name"  class="form-control" style="width: 200px;" placeholder="NAME">
  <br>
  Created Date:<br>
  <input type="text" ng-model="academy.created" class="form-control" style="width: 200px;" placeholder="MM/DD/YYYY">
  <br>
Updated Date:<br>
  <input type="text" ng-model="academy.updated" class="form-control" style="width: 200px;" placeholder="MM/DD/YYY">
  <br>
<tr>
				<td><button ng-click="saveAcademy()" class="btn btn-success">Save Academy</button></td>
</tr>

</form> 
<p>newAcademy = {{academy}}</p>

<h2>Academy  Table</h2>
	<div class="clearfix"></div>
<table class="table table-strip table-hover" data-ng-init="fetchAcademy(); editAllowed=true">

  <tr>
    <td>ID</td>
    <th>Name</th>
    <th> Created Date</th>
    <th>Updated Date</th>
    <th>Operations</th>
  </tr>
	<tr ng-repeat="academy in academies" ng-init="fd(academy.created, academy.upStringd, cr, up)">
      <td>
        <input type="number" ng-model="academy.id" disabled class="form-control" >  
      </td>
      <td>
        <input type="text" ng-model="academy.name" ng-disabled="editAllowed" class="form-control">
        </td>
			<td>
          <input type="text" ng-model="cr" class="form-control" style="width: 200px;" placeholder="MM/DD/YYYY" ng-disabled="editAllowed" ng-init="cr=fd(academy.created)">
      </td>
      <td>
          <input type="text" ng-model="up" class="form-control" style="width: 200px;" placeholder="MM/DD/YYY" ng-disabled="editAllowed" ng-init="up=fd(academy.upStringd)">
      </td class="form-inline">	
      <td><button ng-click="editAllowed=!editAllowed" class="btn btn-primary">Edit</button></td>
      <td><button class="btn btn-success" ng-click="updateAcademy(academy, cr, up)" ng-show="!editAllowed">Update</button></td>
      <td><button ng-click="deleteAcademy(academy)" class="btn btn-danger">Delete</button></td>
   </tr>
  </table>
  
</div>
