
<!DOCTYPE html>
<html>
<head>

<title>Coach Controls--SportsPlus</title>

<!-- For-Mobile-Apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Sportive a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //For-Mobile-Apps -->

<!-- Custom-Stylesheet-Links -->
	<!-- Bootstrap-Core-CSS --> <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all" />
	<!-- Index-Page-CSS --> <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!-- //Custom-Stylesheet-Links -->

<!-- Web-Fonts -->
	<link href='//fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
<!-- //Web-Fonts -->
<script data-require="angular.js@1.4.3" data-semver="1.4.3" src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script data-require="angular-route@*" data-semver="1.4.3" src="https://code.angularjs.org/1.4.3/angular-route.js"></script>
<script src="script.js"></script>
</head>
<body>

	<!-- Header -->
	<div class="header">

		<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">SPORTSPLUS</a>
				</div>

				<div id="navbar" class="navbar-collapse navbar-right collapse hover-effect">
					<ul class="nav navbar-nav">
						<li><a href="index.html">HOME</a></li>
						<li><a href="academy.html">Academy</a></li>
						<li><a href="coach.html">Coach</a></li>
						<li><a href="group.html">Group</a></li>
						<li><a href="athlete.html">Athlete</a></li>
						<li><a href="schedule.html">Schedule</a></li>
					</ul>
				</div>

			</div>
		</nav>
		<!-- //Navbar -->

		<!-- Banner -->
		<div class="banner">
			<img src="images/banner-3.jpg" alt="SportsPlus">
				<div class="caption">
					<h1>Coach Controls</h1>
				</div>
		</div>
		<!-- //Banner -->

	</div>
	<!-- //Header -->
<br>
<div class="container" ng-init="showData=false;">
    <div class="well conatiner">
        <h4>Add Coach</h4>
        <table class="table" style="width: 500px;">
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="newCoach.name" placeholder="NAME">
                </td>
            </tr>
            <tr>
                <td>
                    Phone:
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="newCoach.phone" placeholder="PHONE NO">
                </td>
            </tr>
            <tr>
                <td>
                    Qualification:
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="newCoach.qualification" placeholder="QUALIFICATION">
                </td>
            </tr>
            <tr>
                <td>
                <button class="btn btn-success" ng-click="addCoach(newCoach)"><span class="glyphicon glyphicon-plus"></span>
                    Add Coach</button>
                </td>
            </tr>
        </table> 
    </div>
    <div class="well conatiner">
        <h3>View, Update and Delete</h3>
        <button class="btn btn-primary" ng-click="getAll();showData=!showData">
                <span class="glyphicon glyphicon-list"></span> Show All
        </button>
        <table class="table" ng-show="showData" ng-init="fetchAllCoaches()">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Qualification</th>
            </tr>
            <tr ng-repeat="ch in allCoach">
                <td>
                    <input type="number" ng-model="ch.coach_id" disabled class="form-control" style="width: 70px;">
                </td>
                <td>
                    <input type="text" ng-model="ch.name" ng-disabled="!updateAllow" class="form-control">
                </td>
                <td>
                    <input type="text" ng-model="ch.phone" ng-disabled="!updateAllow" class="form-control">
                </td>
                <td>
                    <input type="text" ng-model="ch.qualification" ng-disabled="!updateAllow" class="form-control">
                </td>
				</tr>

				<tr style="align-self: auto;">
						<td>
								<button class="btn btn-primary" ng-click="updateAllow=!updateAllow">
										<span class="glyphicon glyphicon-edit"></span> Edit
								</button>
						</td>
						
						<td >
								<button class="btn btn-success" ng-show="updateAllow" ng-click="ch=updateCoach(ch)">
										<span class="glyphicon glyphicon-pencil"></span> Update
									</button>	
						</td>

						<td><button class="btn btn-danger" ng-click="deleteCoach(ch);">
								<span class="glyphicon glyphicon-remove"></span> Delete
							</button></td>
							
							
								
						
				</tr>
                
        </table>
    </div>
</div>






	<!-- Footer -->
<div class="footer">
	<div class="container">

		<div class="footer-top">
			<div class="footer-grids">
					<div class="col-md-3 col-sm-3 address">
						<h5>Address</h5>
							<ul>
								<li>Stcet</li>
								<li>700023</li>
								<li>Khidirpur</li>
								<li>Kolkata</li>
								<li>Mail : <a href="mailto:mail@example.com">mailto@stcet.com</a></li>
							</ul>
					</div>
					<div class="col-md-3 col-sm-3 contact">
						<h5>Contact</h5>
						<div class="phone">
							<p>033  456 7890</p>
							<p>033  789 3450</p>
						</div>

						<div class="mail">
							<form>
								<input type="text" placeholder="Email address" required="">
								<input type="submit" value="Subscribe">
							</form>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-6 col-sm-6 connect">
						<h5>Connect</h5>
						<div class="connect-social">
							<ul>
								<li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
								<li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
								<li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
								<li><a href="#" class="linkedin" title="Go to Our Linkedin Page"></a></li>
								<li><a href="#" class="blogger" title="Go to Our Blogger Account"></a></li>
								<li><a href="#" class="tumblr" title="Go to Our Tumblr Page"></a></li>
								<li><a href="#" class="rss" title="Go to Our RSS Feed"></a></li>
								<li><a href="#" class="youtube" title="Go to Our Youtube Channel"></a></li>
								<li><a href="#" class="vimeo" title="Go to Our Vimeo Channel"></a></li>
								<li><a href="#" class="deviantart" title="Go to Our Deviantart Page"></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="footer-bottom">
					<div class="footer-nav">
						<ul>
							<li><a href="index.html">HOME</a></li>
						<li><a href="academy.html">Academy</a></li>
						<li><a href="coach.html">Coach</a></li>
						<li><a href="group.html">Groups</a></li>
						<li><a href="athlete.html">Athlete</a></li>
						<li><a href="schedule.html">Schedule</a></li>
						</ul>
					</div>
					<div class="copyright">
						<p>&copy; 2018 SportsPLus. All Rights Reserved | Design by CSE </p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

		</div>
	</div>
	<!-- //Footer -->

<!-- Custom-JavaScript-File-Links -->

	<!-- Supportive-JavaScript --> <script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- Necessary-JS-File-For-Bootstrap --> <script type="text/javascript" src="js/bootstrap.min.js"></script>

	<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
	<script type="text/javascript">
		$(document).ready(function() {
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 100,
				easingType: 'linear'
			};
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
	<!-- //Slide-To-Top JavaScript -->

	<!-- Smooth-Scrolling-JavaScript -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll, .navbar li a, .footer li a").click(function(event){
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //Smooth-Scrolling-JavaScript -->

<!-- //Custom-JavaScript-File-Links -->

</body>
</html>



<!-- All Images are for reference and illustration puropse only. -->
<!-- Unsplash-Link
	Images were taken from the website UNSPLASH - https://unsplash.com/
-->
<!-- Flaticon-Link:
	Icons were taken from the website FLATICON "http://www.flaticon.com" made by "http://www.freepik.com" is licensed by "http://creativecommons.org/licenses/by/3.0/" CC 3.0. BY
-->